---
import contents from '../../../assets/content.json'
import constitution_of_japan from '../../../assets/images/constitution_of_japan.jpg'

export const getStaticPaths = () =>
  contents.map((content) => ({ params: { id: content.id } }))

const { id } = Astro.params
const entry = contents.find((entry) => entry.id === id)
---

<div class="container mx-auto space-y-8">
  <div class="flex justify-center">
    <img
      class="full-img max-w-screen-lg object-cover aspect-video"
      src={constitution_of_japan}
      alt=""
    />
  </div>
  <div class="max-w-screen-sm mx-auto space-y-4">
    <h1 class="text-4xl">{entry?.title}</h1>
    <div class="whitespace-pre-wrap">{entry?.body}</div>
  </div>
</div>
