---
import content from '../../../assets/content.json'
import Card from '../../../components/Card.astro'
---

<div class="container mx-auto">
  <ul role="list" class="max-w-screen-lg mx-auto grid grid-cols-2 gap-8">
    {
      content.map((item) => (
        <Card
          id={item.id}
          href={`/${item.id}`}
          title={item.title}
          body={item.body}
        />
      ))
    }
  </ul>
</div>
